host irc.freenode.net
port 6667

#port 9999
#secure sslv23

nick Yak
user Yakk
real Yakkity Yak
#nickserv-nick NickServ
#identify-pw password
#oper-name root
#oper-pw password
owners ExampleNick

channels #bots

# override default response in ctcp_version plugin
#version xchat

